---
layout: main
---
{% include coworkingModals.html %}
{% include paymentModal.html %}

    <!-- Intro Section -->
    <section id="coworking-carousel" class="coworking-section" data-ride="carousel">

        <div class="bg-img item active" style="background-image: url(../assets/images/c3.jpg)"></div>
        <div class="bg-img item" style="background-image: url(../assets/images/c2.jpg)"></div>
        <div class="bg-img item" style="background-image: url(../assets/images/c1.jpg)"></div>
        <div class="bg-img item" style="background-image: url(../assets/images/c4.jpg)"></div>
        <div class="bg-img item" style="background-image: url(../assets/images/c5.jpg)"></div>
        <div class="bg-img item" style="background-image: url(../assets/images/c6.jpg)"></div>
        <div class="bg-img item" style="background-image: url(../assets/images/c7.jpg)"></div>
        <div class="bg-img item" style="background-image: url(../assets/images/c8.jpg)"></div>
       
        

        <div class="container">
            <div class="row">
                <div class="col-xs-12 caption">
                    <h1>Focus on what's important. <br><small>We'll handle the rest.</small></h1>
                    
                    <a href="#services" class="btn page-scroll"> Up to 60% off!</a>
                    <!-- <a href="https://buff.ly/2h8yyyV"  class="btn page-scroll">GET IT NOw</a> -->
                </div>
            </div>
        </div>
    </section>

    
    <!-- community Section -->
<section id="community-stories" class="comm-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Featured Story</h1>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 com-container">
                        <div class="comm-content">
                            <span class="glyphicon glyphicon-play" data-toggle="modal" data-target="#pushModal"></span>
                            <div class="pink-overlay" data-toggle="modal" data-target="#pushModal">

                            </div>
                            <div class="comm-image" style="background-image:url(../assets/images/fc1.png)"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 startups">
                <hr>
                    <h1>Our community of startups</h1>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                        <a href="https://www.investagrams.com/" target="_blank" title="Investagrams">
                        <img src="../css/img/logos/investagrams.png" alt="investagrams logo"/>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo" title="Pez.ai">
                            <a href="http://pez.ai/" target="_blank">
                            <img src="../css/img/logos/pezai.png" alt="pezai logo"/>
                            </a>
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                <a href="http://www.ppinteractive.com/" target="_blank" title="P&P Interactive">
                                <img src="../css/img/logos/ppinteractive.png" alt="p&p interactive logo"/>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                    <a href="https://pushkart.ph/" target="_blank" title="Pushkart PH">
                                    <img src="../css/img/logos/pushkart.png" alt="pushkartph logo"/>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                        <a href="http://www.tekkultura.com" target="_blank" title="Tekkultura">
                                        <img src="../css/img/logos/tekkulutura.png" alt="tekkultura logo"/>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                            <a href="https://www.adatos.com/" target="_blank" title="Adatos">
                                            <img src="../css/img/logos/adatos.png" alt="adatos logo"/>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                                <a href="https://www.heartsmart.ph/" target="_blank" title="Heart Smart">
                                                <img src="../css/img/logos/heartsmart.png" alt="Heart Smart logo"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                                    <a href="https://www.vaquform.com/" target="_blank" title="Vaquform">
                                                    <img src="../css/img/logos/vaquform.png" alt="Vaquform logo"/>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                                    <a href="https://www.readyartwork.com/" target="_blank" title="Ready Artwork">
                                                    <img src="../css/img/logos/ready-artwork.png" alt="ready artwork logo"/>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                                    <a href="http://roadwavestour.com/" target="_blank" title="Road Waves Tours">
                                                    <img src="../css/img/logos/road-wave.png" alt="road wave tours logo"/>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 companies-logo">
                                                    <a href="http://www.swimcentral.com.ph/" target="_blank" title="Swim Central">
                                                    <img src="../css/img/logos/swim-central.png" alt="swim central logo"/>
                                                    </a>
                                                </div>

                </div>
            </div>
            
        </div>
    </section>

   

    <!-- Services Section -->
    <section id="services" class="services-section coworking-services">
        <div class="container">
            <h1>Our Services</h1>
                <div class="row">
                        <div class="col-sm-4 col-md-3">
                          <div class="thumbnail services-thumbnail">
                              <span class="discount-price">40% Off!</span>
                            <img src="/assets/images/coworking/day-pass.jpg" alt="Coworking space for 1 day">
                            <div class="caption">
                              <h3>Day Pass</h3>
                              <h4>₱300 <strike> ₱500</strike></h4>
                              <p>
                                  *Cowork with us for 1 day (per head)
                                  <br>
                                  *1 year validity from date for purchase.
                                  
                            </p>
                              <p>
                                  
                                  <a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>
                                  <a href="#" class="btn" role="button" data-toggle="modal" data-target="#paymentModal" data-product="Day Pass" data-price="300">Pay Online</a>
                                  
                               
                            </p>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4 col-md-3">
                                <div class="thumbnail services-thumbnail">
                                  <img src="/assets/images/coworking/week-pass.jpg" alt="Coworking space for a week">
                                  <div class="caption">
                                        <span class="discount-price">40% Off!</span>
                                    <h3>5-Day Pass</h3>
                                    <h4>₱1500 <strike> ₱2500</strike></h4>
                                    <p>
                                        *Consumable for 5 days (per head)
                                        <br>
                                        *1 year validity from date for purchase.
                                  </p>
                                    <p>
                                            <a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>
                                      <a href="#" class="btn " role="button" data-toggle="modal" data-target="#paymentModal" data-product="5-Day Pass" data-price="1500">Pay Online</a>
                                  </p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-4 col-md-3">
                                <div class="thumbnail services-thumbnail">
                                        <span class="discount-price">50% Off!</span>
                                  <img src="/assets/images/coworking/10-day-pass.jpg" alt="Coworking Spacefor fixed monthly">
                                  <div class="caption">
                                    <h3>10-Day Pass</h3>
                                    <h4>₱2500 <strike> ₱5000</strike></h4>
                                    <p>
                                        *Consumable for 10 days (per head)
                                        <br>
                                        *1 year validity from date for purchase.
                                  </p>
                                    <p><a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>
                                        <a href="#" class="btn" role="button" data-toggle="modal" data-target="#paymentModal" data-product="10-Day Pass" data-price="2500">Pay Online</a>
                      
                                  </p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-4 col-md-3">
                                    <div class="thumbnail services-thumbnail">
                                            <span class="discount-price">60% Off!</span>
                                      <img src="/assets/images/coworking/monthly-pass.jpg" alt="Coworking space for 20 days">
                                      <div class="caption">
                                        <h3>20-Day Pass</h3>
                                        <h4>₱3600 <strike> ₱9000</strike></h4>
                                        <p>
                                            *Consumable for 20 days (per head)
                                            <br>
                                            *1 year validity from date for purchase.
                                      </p>
                                        <p>
                                                <a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>
                                                <a href="#" class="btn" role="button" data-toggle="modal" data-target="#paymentModal" data-product="20-Day Pass" data-price="3600">Pay Online</a>
                                                
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                  

                                  
                                  <div class="col-sm-4 col-md-3">
                                        <div class="thumbnail services-thumbnail">
                                            <span class="discount-price">40% Off!</span>
                                            <img src="/assets/images/coworking/easy-monthly.jpg" alt="Coworking Spacefor fixed monthly">
                                          <div class="caption">
                                            <h3>Easy Monthly Pass</h3>
                                            <h4>₱2400 <strike>₱4000</strike></h4>
                                            <p>
                                                *3 specified days per week (per head)
                                                <br>
                                                *Please contact us up to discuss further.
                                          </p>
                                            <p><a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>
                                            
                                          </p>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="col-sm-4 col-md-3">
                                            <div class="thumbnail services-thumbnail">
                                                
                                                <img src="/assets/images/coworking/fixed-monthly-pass.jpg" alt="Coworking space for fixed monthly">
                                              <span class="discount-price">50% Off!</span>
                                              <div class="caption">
                                                <h3>Monthly Pass </h3>
                                                <h4>₱4000 <strike>₱8000</strike></h4>
                                                <p>
                                                    *7 days per week (per head)
                                                    <br>
                                                    *Please contact us up to discuss further.
                                              </p>
                                                <p><a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>

                                              </p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-4 col-md-3">
                                            <div class="thumbnail services-thumbnail">
                                              <img src="/assets/images/coworking/easy-pass.jpg" alt="Coworking Spacefor fixed monthly">
                                              <div class="caption">
                                                <h3>Meeting Room</h3>
                                                <div class="other-prices">
                                                <h4  data-target="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" id="meetingRoomOther" >
                                                    ₱1120+
                                                    <span class="caret"></span>
                                                   
                                                </h4>
                                                <ul class="dropdown-menu" aria-labelledby="meetingRoomOther">
                                                    <li> 2 hours - ₱1120</li>
                                                    <li> 3 hours - ₱1400</li>
                                                    <li> 4 hours - ₱1680</li>
                                                    <li> 5 hours - ₱1960</li>
                                                    <li> 6 hours - ₱2240</li>
                                                    <li> 7 hours - ₱2520</li>
                                                  </ul> 
                                                </div>

                                              

                                                <p>
                                                    *Good for 8 People - Whole Day
                                                    <br>
                                                    *1 year validity from date for purchase.
                                              </p>
                                                <p><a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>
                                                
                                              </p>
                                              </div>
                                            </div>
                                          </div>
    
    
                                          <div class="col-sm-4 col-md-3">
                                                <div class="thumbnail services-thumbnail">
                                                  
                                                    <img src="/assets/images/coworking/private-pass.jpg" alt="Office Space and Coworking Space in Manila">
                                                  <div class="caption">
                                                    <h3>Private Room </h3>
                                                    <h4>₱47600</h4>
                                                    <p>
                                                        * 12 SQM Private Room
                                                        <br>
                                                        * Comes with a big whiteboard and TV.
                                                        <br>
                                                        *Please contact us to discuss further.
                                                        
                                                  </p>
                                                    <p><a href="#contact" class="btn page-scroll" role="button">Inquire Now</a>
    
                                                  </p>
                                                  </div>
                                                </div>
                                              </div>
                       
                            
                      </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1>Coworker's Perks</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-2  col-md-2 col-sm-6 col-xs-6">
                    <img src="../css/img/icons_net1.png" alt="internet logo"> 
                    <p>High-speed Internet</p>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <img src="../css/img/icons_locker.png"alt="locker logo">
                    <p>Dedicated Lockers</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <img src="../css/img/icons_zen.png" alt="zen logo">
                    <p>Zen Area</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <img src="../css/img/icons_coffee.png" alt="coffee logo">
                    <p>A Cup of Coffee</p>
                </div>
            </div>
           
        </div>

    </section>

    <!-- Community Section -->
    <section id="community" class="community-section">
        <div class="container">



            <div class="row">
                <div class="col-lg-12">
                    <h1>One of the most accessible coworking space in Manila!</h1>
                </div>
                <div class="col-lg-8">
                    <a href="https://www.google.com.ph/maps/dir/''/builtable/data=!4m5!4m4!1m0!1m2!1m1!1s0x3397c83ec6c0f395:0x51a4af0dd5cbce2d?sa=X&ved=0ahUKEwjCp4f955_VAhXLyLwKHT-4CmQQ9RcIggEwCw"
                        target="_new">
                        <div class="commright image">
                            <h1></h1>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">

                    <div class="commleft">
                        <br>
                        <p>
                            We are searchable at <strong>Google Maps</strong> and <strong>Waze</strong>!<br>
                            <strong>From MRT:</strong> Stop at MRT Shaw Blvd. Station, go down to the side of Starmall. It only
                            takes a 5-minute walk!<br>
                            <strong>Car Parking:</strong> Park at Starmall (5-minute walk), Park at Shangrila Mall (10-minute
                            walk).

                        </p>

                    </div>
                </div>

            </div>

        </div>

        </div>
    </section>

    
    {% include contact.html %}