<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    {% include gtm-body.html %}
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Builtable -  Workshops and Events space in Shaw Boulevard Mandaluyong City, Metro Manila, Philippines">
    <meta name="author" content="Builtable Coworking">


    <title>{{page.pageTitle}}</title>

    
       <!-- For Facebook -->
<meta property="og:title" content="{{page.pageTitle}}" />
<meta property="og:image" content="{{page.imageUrl}}/main-sm.jpg" />
<meta property="og:description" content="{{page.content | truncate: 195 | strip_html}}" />



    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/main.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href='fonts/noodle.ttf'>

    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">


</head>