<div class="modal fade" id="pushModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

<iframe src="https://www.youtube.com/embed/lRpPbV8FEKI?ecver=2" width="560" height="360" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


