<div class="contact-float">
        
        <a href="tel:+639177270288">
        <span class="ion-android-call"></span>    
        </a>
      
        <a href="mailto:marketing@builtable.co" >
            <span class="ion-ios-email"></span>
        </a>
      
    </div>

<div class="social-media-links">
        <a href="https://www.facebook.com/builtable/" target="_blank">
            <span class="ion-social-facebook"></span>
        </a>
        <a href="https://www.linkedin.com/company/builtable-coworking/" target="_blank">
            <span class="ion-social-linkedin"></span>
        </a>
        <a href="https://www.instagram.com/explore/locations/167600830348313/builtable-coworking/" target="_blank">
            <span class="ion-social-instagram"></span>
        </a>
        <a href="https://twitter.com/builtable" target="_blank">
            <span class="ion-social-twitter"></span>
        </a>
        <a href="https://plus.google.com/u/1/116067517186130714947" target="_blank">
            <span class="ion-social-googleplus"></span>
        </a>
</div>
