<div class="contact-float">
        
        <a href="tel:+639177270288">
            <img src="../css/img/call.png" alt="contact logo"/>
        </a>
      
        <a href="mailto:marketing@builtable.co" >
            <img src="../css/img/email.png" alt="email logo"/>
        </a>
      
    </div>

<div class="social-media-links">
        <a href="https://www.facebook.com/builtable/" target="_blank">
            <img src="../css/img/Facebook.png" alt="facebook logo round"/>
        </a>
        <a href="https://www.linkedin.com/company/builtable-coworking/" target="_blank">
            <img src="../css/img/LinkedIn.png" alt="Linkedin logo round"/>
        </a>
        <a href="https://www.instagram.com/explore/locations/167600830348313/builtable-coworking/" target="_blank">
            <img src="../css/img/Instagram.png" alt="Instagram logo round"/>
        </a>
        <a href="https://twitter.com/builtable" target="_blank">
            <img src="../css/img/Twitter.png" alt="Twitter logo round"/>
        </a>
</div>
