---
layout: main
---


<div class="modal fade" id="kateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      
        <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <iframe src="https://www.youtube.com/embed/0_5olNkLVIo?ecver=2" width="560" height="360" frameborder="0"  allowfullscreen></iframe>
          
        </div>
     
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
   <div class="modal fade" id="badzModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      
        <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <iframe src="https://www.youtube.com/embed/leOYVilvXhM?ecver=2" width="560" height="360" frameborder="0"  allowfullscreen></iframe>
        </div>
     
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div class="modal fade" id="jocoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      
        <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
         <iframe src="https://www.youtube.com/embed/UbeF_YT6EvY?ecver=2" width="560" height="360" frameborder="0"  allowfullscreen></iframe>
  
      </div>
     
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  
    <!-- Intro Section -->
    <section id="carousel" class="learn-intro-section">
        <div class="video-overlay"></div>
        <video id="video-learn" width="640" height="360"  autoplay controls="true" muted loop>
            <source src="../assets/learn-bg.mp4" type="video/mp4">
        </video>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 caption">
                    <h1>Learn something new this weekend!</h1>
                    
                    <a href="#workshops" class="btn page-scroll"> See our workshops</a>
                </div>
            </div>
        </div>
    </section>



    <!-- Events Section -->
    <section id="learn-people" class="people-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>HERE TO INSPIRE OTHERS</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="teacher-content">
                          <span class="glyphicon glyphicon-play" data-toggle="modal" data-target="#jocoModal"></span>
                            <div class="pink-overlay" data-toggle="modal" data-target="#jocoModal">
                    
                           
                        </div> 
                    <div class="joco" title="Shoe Maker in the Philippines"></div>
                       <h5>Joco</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="teacher-content" >
                         <span class="glyphicon glyphicon-play" data-toggle="modal" data-target="#kateModal"></span>
                        <div class="pink-overlay" data-toggle="modal" data-target="#kateModal">
                            
                        </div>
                       <div class="kate"title="woodcraft in the Philippines"></div>
                       <h5>Kate</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12">
                    <div class="teacher-content">
                         <span class="glyphicon glyphicon-play" data-toggle="modal" data-target="#badzModal"></span>
                        <div class="pink-overlay" data-toggle="modal" data-target="#badzModal">
                            
                        </div>
                       <div class="badz" title="molder/sculpter in the Philippines"></div>
                       <h5>Badz</h5>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <section id="workshops">
<div class="container">
    <div class="row">
        <h3>Our Private Workshops!

                <br>
                <small> <a href="/comaking">See our upcoming workshops!</a></small>
        </h3>

        <div class="col-lg-12 ">
        
            {% assign workshopsItems = site.categories["workshops"] | sort:'eventStartDate' %}
          
            {% for post in workshopsItems %}
          
          {% assign today_date = 'now' | date: '%s' %}
          {% assign pre_EarlyBirdDate = post.earlyBirdEndDate | date: '%s' %}
          {% assign pre_Startdate = post.eventStartDate | date: '%s' %}
          {% assign eventDate = post.eventEndDate | date: '%s'%}
          {% if today_date > eventDate %}
          <div class="col-sm-12 col-md-4 workshop-item">

                <div class="thumbnail">
                <a href="{{post.url}}">

                    {% if pre_EarlyBirdDate > today_date %}
                     <span class="promo">Early Bird Rate until {{ post.earlyBirdEndDate | date: "%B %d, %Y" }}</span>
                     {% endif %}
                 
                     <img src="{{post.imageUrl}}/main-sm.jpg" alt="{{page.imageUrlAlt}}">
                  
                     {% if post.totalAttendees!= post.currentAttendees %}

                     <p><a  href="{{post.url}}" class="btn">{{post.totalAttendees |minus:post.currentAttendees}} Slots left!</a> </p>
                     {% else %}
                      
                     <p><a  href="{{post.url}}" class="btn">Full Booked!</a> </p>
                     
                     {% endif %}

                  <div class="caption">  
                        <a href="{{post.url}}">
                    <h3>{{ post.title}}</h3>
                   
                    {% if pre_EarlyBirdDate > today_date %}
                    <h4 class="price">{{post.earlyPrice}} PHP <strike>{{post.price}} PHP</strike></h4>
                    {% else %}
                    <h4 class="price">{{post.price}} PHP</h4>
                    {% endif %}

                    
                    {% if today_date > pre_Startdate %}
                    <p class="date">Pending Date...</p>
                    {% else %}
                    <p class="date">{{ post.eventStartDate | date: "%B %d, %Y - %r" }}</p>
                 
                    {% endif %}

                  


                    <p>{{post.content | truncate: 170}}</p>
                </a>
                  
                    
                


                </div>
            </a> 
            </div>
              </div>
              {%endif %}
              {% endfor %}
            
        </div>
        
    </div>
  
</div>
    </section>

 <!-- Community Section -->
 <section id="community" class="community-section">
    <div class="container">

        

        <div class="row">
            <div class="col-lg-12">
              <h1>Very accessible Workshops in Manila</h1>
            </div>
            <div class="col-lg-8">
                <a href="https://www.google.com.ph/maps/dir/''/builtable/data=!4m5!4m4!1m0!1m2!1m1!1s0x3397c83ec6c0f395:0x51a4af0dd5cbce2d?sa=X&ved=0ahUKEwjCp4f955_VAhXLyLwKHT-4CmQQ9RcIggEwCw" target="_new">
              <div class="commright">
                <h1></h1>
              </div>
            </a>
            </div>
            <div class="col-lg-4">

                <div class="commleft">
                <br><p>
                Builtable Coworking is searchable at <strong>Google Maps</strong> and <strong>Waze</strong>!<br>
                    <strong>From MRT (Manila Metro Rail Transit System):</strong> Stop at Shaw Blvd. Station, go down to the side of Starmall. It only takes a 5-minute walk!<br>
                <strong>Car Parking:</strong> Park at Starmall (5-minute walk), Park at Shangrila Mall (10-minute walk).
                
            </p>

                </div>
            </div>

        </div>

        </div>

    </div>
</section>

{% include contact.html %}
    
             

 