<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
{% include gtm-head.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Builtable - Coworking Space, Office Space, Meeting Rooms, Private Rooms and Events space in Shaw Boulevard Mandaluyong City, Metro Manila, Philippines">
    <meta name="author" content="Builtable Coworking">

    <title>{{page.pageTitle}}</title>

    
       <!-- For Facebook -->
<meta property="og:title" content="{{page.pageTitle}}" />
<meta property="og:image" content="{{page.imageUrl}}" />
<meta property="og:description" content="{{page.content | truncate: 195}}" />



    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/main.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href='fonts/noodle.ttf'>

    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include gtm-body.html %}
{% include navheader.html %}
<div class="blog bg-img desktop-only" style="background-image: url(..{{page.imageUrl}})"></div>
<img src="{{page.imageUrl}}" class="img-responsive mobile-only"/>
 <article class="container blog-content">
     <div class="col-xs-12 col-md-11">
            <h1>{{page.title}} </h1>
           
            
            <h4 class="date">{{page.date | date: "%B %d, %Y" }}</h4>
         
               {{ content }}
               {% include disqus-comment.html %}

     </div>
    
 </article>
    

    {% include footer.html %}
    {% include scripts.html %}

</body>

</html>
