<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
{% if site.url contains "builtable.co" %}  
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PD7V8GP');</script>
<!-- End Google Tag Manager -->
{% endif %}


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Builtable - Coworking Space, Office Space, Meeting Rooms, Private Rooms and Events space in Shaw Boulevard Mandaluyong City, Metro Manila, Philippines">
    <meta name="author" content="Builtable Coworking">

    <!-- For Facebook -->
<meta property="og:title" content="Builtable Coworking's Website" />
<meta property="og:image" content="/assets/images/c1.jpg" />
<meta property="og:image" content="/assets/images/c2.jpg" />
<meta property="og:image" content="/assets/images/c3.jpg" />
<meta property="og:image" content="/assets/images/c4.jpg" />
<meta property="og:image" content="/assets/images/c5.jpg" />
<meta property="og:image" content="/assets/images/c6.jpg" />
<meta property="og:image" content="/assets/images/c7.jpg" />
<meta property="og:image" content="/assets/images/c8.jpg" />
<meta property="og:description" content="Builtable - Coworking Office Space, Meeting Rooms, Private Rooms and Events space in Shaw Boulevard Mandaluyong City, Metro Manila, Philippines" />



    <title>Builtable | Coworking Space and Office Space in Philippines, Mandaluyong City</title>

    

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/scrolling-nav.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
    <link href='fonts/noodle.ttf'>

    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    
    {% if site.url contains "builtable.co" %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD7V8GP"
height="0" width="0" ></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

{% include navheader.html %}
  

   {{ content }}

   {% include floating-hotkeys.html %}
    {% include footer.html %}

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/scrolling-nav.js"></script>

    <script src="../js/main.js"></script>
    <script src="../js/coworking.js"></script>
    <script src="../js/learn.js"></script>
</body>

</html>
