{% assign today_date = 'now' | date: '%s' %}
{% assign pre_date = page.eventStartDate | date: '%s' %}

{% include comake-head-tag.html %}

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% include gtm-body.html %}
{% include navheader.html %}
{% include paymentModal.html %}

<div class="workshop-page bg-img desktop-only" style="background-image: url(..{{page.imageUrl}}/main.jpg)"></div>
<img src="{{page.imageUrl}}/main-sm.jpg" class="img-responsive mobile-only"/>
<div class="workshop-title">
    <div class="container">
        <span class="breadcrumbs">
        <a href="/comaking">Workshops</a> / <span>{{page.title}}</span> 
        </span>

    <h1>{{page.title}} <span>₱ {{page.earlyPrice}}</span></h1>

    {% if page.totalAttendees!= page.currentAttendees %}
                    <h3>{{page.totalAttendees |minus:page.currentAttendees}} Slots left!</h3>
                    {% else %}
                     
                    <h3>Full Booked! </h3>
                    
                    {% endif %}

    {% if today_date > pre_date %}
    <h4 class="date">TBA (To be announced) </h4>
    {% else %}
       <h4 class="date">{{ page.eventStartDate | date: "%B %d, %Y - %I:%M %p" }} to {{page.eventEndDate | date: "%I:%M %p" }}</h4>
       {% endif %}
       <div class="workshop-actions">
            {% if page.earlyPrice != '' %}
            <a class="btn" data-toggle="modal" data-target="#paymentModal" data-product="{{page.title}}" data-price="{{page.earlyPrice}}">Pay Online</a>
        
           {% else %}
           <a class="btn" data-toggle="modal" data-target="#paymentModal" data-product="{{page.title}}" data-price="{{page.Price}}">Pay Online</a>
         
           {% endif %}
            <a class="btn" data-toggle="modal" data-target="#bankDepositModal">Bank Deposit</a>
       <br>
       <br>
            <a class="btn" href="/workshops/copywriting-webinar.html" >Watch Online! (New)</a>
       
        </div>  
    </div>
    </div> 
 <div class="container">
     <div class="col-xs-12 col-md-10 workshop-content">
          
            {{ content }}

     </div>
    
    
    </div>
    

    {% include footer.html %}
    {% include scripts.html %}
  
</body>

</html>
